<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="/offcanvas.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="/script_login.js"></script> 
  <script>document.addEventListener('DOMContentLoaded', page_loading);</script>
</head>

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .no-1-padding {
      padding: 0;
      margin: 0;
  }

  .my-padding {
    padding: 8px;
    margin: 8px;
    margin-left: 0px;
    display:block;
    width: 100%;
  }

  .chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: calc(100vh - 200px);
  overflow: scroll;
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}

.message_template {
  display: none;
}

.panel-heading{
    display: inline-block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
</style>

<body>
  


  <header class="py-3 mb-3 border-bottom bg-dark" style="">
    <div class="container text-center d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <a class="d-flex align-items-center" href="/">
        <img class="align-baseline" src="https://revenuearchitects.com/wp-content/uploads/2017/02/Blog_pic.png"  height="62">
      </a>

      <div class="d-flex align-items-center">
        <form class="w-100 me-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        
        <ul class="navbar-nav ms-auto" id="ul-nav">
          <li class="nav-item" id="delete">
            <a class="nav-link btn btn-outline-success" me href="#enter" id="nav_enter" role="button" data-bs-toggle="modal"
              aria-expanded="false">
              -Вход-
            </a>
          </li>
        </ul>

        <div class="flex-shrink-0 dropdown" id="user_name_main">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://kartinki.pics/uploads/posts/2022-03/thumbs/1646961318_2-kartinkin-net-p-kartinki-dlya-profilya-stim-2.jpg" class="rounded-circle img-fluid me-3" alt="Аватар" height="70" width="70">
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
            <li><a class="dropdown-item" id="user_name" href="/user">User</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" onclick="logout()">Выйти</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>


<!-- Модальное окно -->
<div class="modal fade" id="enter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="enter-tab" data-bs-toggle="pill" data-bs-target="#enter-panel"
              type="button" role="tab" aria-controls="enter-pills" aria-selected="true">Войти</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="sign-tab" data-bs-toggle="pill" data-bs-target="#sign-panel" type="button"
              role="tab" aria-controls="sign-pills" aria-selected="false">Зарегистрироваться</button>
          </li>

        </ul>
        <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="enter-panel" role="tabpanel" aria-labelledby="enter-tab">

            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput" id="label_email">Email/Номер телефона</label>
            </div>

            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword" id="label_password">Пароль</label>
            </div>
            <div class="text-start pass_warning" id="pass_warning">
            </div>
            <a class="text-start" href="#">
              Восстановить пароль
            </a>
            <div class="row p-3">
            <button type="button" class="btn btn-outline-success" onclick="autorization()">Войти</button>
          </div>
          </div>
          <div class="tab-pane" id="sign-panel" role="tabpanel" aria-labelledby="sign-tab">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="sign-name" placeholder="name" >
              <label for="floatingInput" id="label_sign_email">Имя*</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="sign-email" placeholder="name@example.com">
              <label for="floatingInput" id="label_sign_email">Email/Номер телефона*</label>
            </div>

            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="sign-password" placeholder="Password">
              <label for="floatingPassword" id="label_sign_password">Пароль*</label>
            </div>
            <div class="form-floating ">
              <input type="password" class="form-control" id="sign-password2" placeholder="Password">
              <label for="floatingPassword" id="label_sign_password">Повторите пароль*</label>
            </div>
            <div class="text-start" id="pass_sign_warning">
            </div>
            <div class="row p-3">
            <button type="button" onclick="registration()" class="btn btn-outline-success">Зарегистрироваться</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Модальное окно -->


<!-- Главная часть -->
<div class="container">
  <div class="row row-offcanvas row-offcanvas-left main-offcanvas nopadding" id="body">
    <div class="col-3 not-hidden-offcanvas"></div>

    <div class="col-3 col-md-3 sidebar-offcanvas" id="sidebar" style="">

      <div class="position-sticky hidden-offcanvas position-fixed" style="top: 2rem;" id="side">
        <div class="list-group">
          <a href="/" class="list-group-item">Главная</a>
          <div id="for-login">
            <a href="/user" class="list-group-item">Моя страница</a>
            <a href="/subs" class="list-group-item">Мои подписки</a>
            <a href="/chats" class="list-group-item">Чаты</a>
          </div>
          <button type="button" class="btn btn-primary btn-xs not-hidden-offcanvas" data-toggle="offcanvas" id="sliderback"><<</button>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-9">
      <!-- Тут изменять -->
    <div class="row mb-2" id="body">
      
        <form>

            <% if(typeof me != 'undefined') { %>
            
            <h1 class="mb-4">New Article</h1>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" class="form-control" value="<%= blog.title %>">
            </div>
            <!-- <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control">fgdfgfd</textarea>
            </div> -->
            <div class="form-group">
                <label for="markdown">Markdown</label>
                <textarea required name="markdown" id="markdown" class="form-control"></textarea>
            </div>

            <div class="form-group">
              <div class="text-start pass_warning" id="comment_warning"></div>
            </div> 

            <div class="row no-1-padding">
              <div class="col-12 col-md-6">
                <a href="/" class="btn btn-secondary my-padding">Отмена</a>
              </div>
              <div class="col-12 col-md-6">
                <button type="button" id="button-send" class="btn btn-outline-success my-padding">Добавить</button>
              </div>
            </div>

            <% } %>
        </form>

    </div>
             <!-- Тут изменять -->

      <button type="button" class="btn btn-primary btn-xs hidden-btn" data-toggle="offcanvas" id="slider">>></button>
    </div>
  </div>
</div>
 <!-- body -->

 <script>
  (function() {
        const sendBtn = document.getElementById("slider");
        const sliderback = document.getElementById("sliderback");
        const menu = document.getElementById("body");
        const side = document.getElementById("side");


        sendBtn.onclick = function() {
          menu.classList.add("active");
          side.classList.remove('hidden-offcanvas');
          sendBtn.classList.add('hidden-offcanvas');
          sliderback.classList.remove('hidden-offcanvas');
        }

      sliderback.onclick = function() {
          menu.classList.remove("active");
          side.classList.add('hidden-offcanvas');
          sendBtn.classList.remove('hidden-offcanvas');
          sliderback.classList.add('hidden-offcanvas');
      }
  })();
  </script>

    <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <div class="container-fluid p-3">
      <div class="row">
        <div class="col px-lg-5">
          <a id="help" href="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: rgb(119, 119, 119);">
            Обратиться в поддержку
          </a>
        </div>
        <div class="col text-end">
          © 2023 Copyright:
          <a class="text-reset fw-bold" href="/">chto-to.ru</a>
        </div>
      </div>
    </div>
  </footer>
    <!-- Footer -->
</body>     

<script>
    (function() {
        const titleEl = document.getElementById("title");
        const sendBtn = document.getElementById("button-send");
        const bodyEl = document.getElementById("markdown");

        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
            ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        sendBtn.onclick = function() {
        if (getCookie("in-system") == "true") {
            var title = titleEl.value;
            var body = bodyEl.value;
            var uid = getCookie("uid");
            //console.log(uid);
                if (title != "" & body != "" & title.length < 128) {
                sendBtn.disabled = true;
                let text = JSON.stringify({uid: uid, title: title, body: body<% if(type == 1) { %>, id: <%= blog.id%> <% } %>});
                let request = new XMLHttpRequest();
                <% if(type == 1) { %>
                request.open("POST", "/blog/edit", true);  
                <% } else { %> 
                request.open("POST", "/blog/add", true);   
                <% } %>
                request.setRequestHeader("Content-Type", "application/json");
                request.addEventListener("load", function () {
                    let ans = JSON.parse(request.response);
                    //if (typeof(ans.id) == INT)
                    if (request.response) {
                        window.location.replace("/blog?id=" + ans.id);
                    }
                    //console.log(ans);
                });
                request.send(text);
            }
            else {
                document.getElementById("comment_warning").style.display = 'block';
                document.getElementById("comment_warning").setAttribute("class", "alert alert-danger");
                document.getElementById("comment_warning").textContent = 'Заполните все поля! (title < 128)';   
                //window.scrollTo(0, 0);
            }
        }
    }
  
    })();
  </script>

</html>
